<div class="courses-container">
    <h1>Completed Key Courses:</h1>
    <table class="course-table" style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Core content</th>
                <th>Technologies</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/tut-cu-g-45620?year=2023" style="color:white">COMP.CS.100</a></td>
                <td>Programming 1: Introduction to Programming</td>
                <td>An introductory course for programming. I made a minesweeper game with my classmate. </td>
                <td>Python</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/tut-cu-g-45510?year=2023" style="color:white">COMP.CS.110</a></td>
                <td>Programming 2: Structures</td>
                <td>Classes, Recursion, Basic containers, references and pointers</td>
                <td>C++</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/otm-9392333f-bff2-4c3d-b1cf-717ce9990253?year=2023" style="color:white">COMP.CS.140</a></td>
                <td>Programming 3: Interfaces and Techniques</td>
                <td>Modularity, Inheritance, Team work, Software Quality: Unit testing, Exceptions</td>
                <td>Java</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/tut-cu-g-36938?year=2023" style="color:white">COMP.CS.300</a></td>
                <td>Data Structures and Algorithms 1</td>
                <td>Common algorithm design techniques, implementation of basic data structures, Analysis of asymptotic complexity in programs</td>
                <td>C++</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/tut-cu-g-36437?year=2023" style="color:white">COMP.CS.310</a></td>
                <td>Concurrency</td>
                <td>Identifying the basic problems caused by parallelism and avoiding or solving these problems in simple cases.</td>
                <td>C++</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/otm-5381c680-bc69-4400-a578-ec0a79141cd0?year=2023" style="color:white">DATA.DB.100</a></td>
                <td>Database Basics</td>
                <td>Establishing a database, updating data and posing queries in SQL language, database modelling and design.</td>
                <td>SQL</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/otm-a654c805-ed51-465c-806a-d279f6d6f41e?year=2023" style="color:white">DATA.DB.200</a></td>
                <td>Database systems: SQL</td>
                <td>Relational data model, its different processing languages and programming styles. Query optimization, event handling and integrity checking at a general level.</td>
                <td>SQL</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/uta-ykoodi-25895?year=2023" style="color:white">COMP.SE.610</a></td>
                <td>Software Engineering Project 1</td>
                <td>The basics of software project work, Participation in a software development project as a developer</td>
                <td>TypeScript, React</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/otm-949208ad-9f08-452d-bd64-78588079c3d6?year=2023" style="color:white">COMP.CS.500</a></td>
                <td>Web Development 1 - Programming</td>
                <td>Construction of simple end-to-end applications, Basic understanding of HTTP servers, Creating Dynamic web applications</td>
                <td>JavaScript, HTML, CSS</td>
            </tr>
            <tr>
                <td><a href="https://fullstackopen.com/" style="color:white">FSOpen</a></td>
                <td>Full Stack Open 2022 0-7</td>
                <td>Modern JavaScript-based web development, SPA applications, REST APIs</td>
                <td>React, Node.js</td>
            </tr>
            <tr>
                <td><a href="https://www.tuni.fi/opiskelijanopas/opintotiedot/opintojaksot/tut-cu-g-52196?year=2023" style="color:white">COMP.CS.060</a></td>
                <td>GIT Open</td>
                <td>The key things on using version control in software projects</td>
                <td>Git</td>
            </tr>
        </tbody>
    </table>
</div>