<div class="links-container">
    <h1 class="rubik-font">Connect with Me</h1>

    <a href="https://www.linkedin.com/in/jaakko-nikkilä-68b224205" target="_blank" title="LinkedIn">
        <img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/jaakkonikkila" target="_blank" title="GitHub">
        <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitHub">
    </a>
</div>