<div class="about-container">
    <h1>My Career</h1>
    <ul>
        <li style="--accent-color:#41516C">
            <div class="date">2016</div>
            <div class="title">Start of High School</div>
            <div class="descr">Started high school at Vammalan Lukio. Oh those were the days :D</div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2019</div>
            <div class="title">High School graduation and first major job</div>
            <div class="descr">I worked during the "reading break" for the matriculation exam. Then started working at DNA. Matriculation examination didn't go as well as I would have liked because I focused more on working. After that I took the university entrance exam for the first time and got a place straight away at Tampere University while continuing to work full time at DNA.</div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2020</div>
            <div class="title">Army and Start of University</div>
            <div class="descr">Worked until it was time to go to the army. Had some nice experiences there. After that I was on holiday for the summer and after that I started school at Tampere University. <3</div>
        </li>
        <li style="--accent-color:#1B5F8C">
            <div class="date">2023</div>
            <div class="title">Bachelor's degree</div>
            <div class="descr">I graduated on time with a bachelor's degree in computer science. Studying through covid was though but nothing I couldn't handle. :)</div>
        </li>
        <li style="--accent-color:#4CADAD">
            <div class="date">2024</div>
            <div class="title">New job as a Software developer?</div>
            <div class="descr">My goal for the year is to land a job as a software developer! Potentially with you! ;)</div>
        </li>
    </ul>
</div>