<div class="courses-container">
    <table>
        <caption>Completed courses</caption>
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>COMP.CS.100</td>
                <td>Programming 1: Introduction to Programming</td>
                <td>An introductory course for programming. Used Python and for the project  I made a minesweeper game with my classmate. </td>
            </tr>
            <tr>
                <td>COMP.CS.110</td>
                <td>Programming 2: Structures</td>
                <td>C++ programming course.</td>
            </tr>
            <!-- Add more rows for additional completed courses -->
        </tbody>
    </table>
</div>