<div id="nav-links">
  <a class="nav-link" href="#" onclick="loadComponent('components/welcome.html', 'main-container')">
    <h2 class="nav-link-label rubik-font">Home</h2>
    <img class="nav-link-image" alt="Picture of a house" src="https://images.unsplash.com/photo-1518780664697-55e3ad937233?q=80&w=2565&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  </a>
  <a class="nav-link" href="#" onclick="loadComponent('components/work_experience.html', 'main-container')">
    <h2 class="nav-link-label rubik-font">Work experience</h2>
    <img class="nav-link-image" alt="Picture of working on a laptop" src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  </a>
  <a class="nav-link" href="#" onclick="loadComponent('components/courses.html', 'main-container')">
    <h2 class="nav-link-label rubik-font">Courses</h2>
    <img class="nav-link-image" alt="Picture of books" src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?q=80&w=2673&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  </a>
  <a class="nav-link" href="#" onclick="loadComponent('components/about.html', 'main-container')">
    <h2 class="nav-link-label rubik-font">About</h2>
    <img class="nav-link-image" alt="About page picture" src="https://images.unsplash.com/photo-1666005487638-61f45819c975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
  </a>
  <a class="nav-link" href="#" onclick="loadComponent('components/links.html', 'main-container')">
    <h2 class="nav-link-label rubik-font">Links</h2>
    <img class="nav-link-image" alt="Picture of links" src="https://images.unsplash.com/photo-1617723438144-5f11a7c77e3a?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
  </a>
</div>