<div class="work-experience-container">
    <h1 class="rubik-font">My Work Experience</h1>
    <h2 class="rubik-font" style="color:rgb(187, 9, 197); text-shadow: 1px 1px black">DNA Kauppa Oy</h2>
    <p class="rubik-font"><strong>Time of Working:</strong> 27.5.2019-1.1.2020, 10.5.2021-31.7.2021, 9.5.2022-
        31.7.2022, 8.5.2023-17.8.2023</p>
    <p class="rubik-font"><strong>Details:</strong> I worked as a teleoperator in DNA Kauppa Oy. My work consisted mostly of contacting current customers and renewing their contracts and selling 
        devices and services to them. I also worked in customer service. I started with little to zero experience in sales and slowly I made my way up the offices salespersons. 
        After a couple of months I was wan of the best salesperson in the office. Key to my success was my always eager to learn attitude and combining tips and information from 
        different persons and situations to make my own style that worked. </p>
    <p class="rubik-font"><strong>What I Learned:</strong> I learned that key to selling is always that the customer has to have a demand for something. At the start of the call the customer usually doesn't 
        have any need for anything new. So at the start of the call you need to map the customers usage and then create a need for them that they didn't know they had. Also in general I enhanced my problem-solving 
        skills and learned to adapt to fast-paced work environments.</p>
</div>